<div class="section">
    <div class="container">
        <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://discord.gg/7zAcMZAqx7"
                target="_blank" rel="tooltip" title="Join my Discord Server">
                <i class="fa-brands fa-discord"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/WaveDev-UK"
                    target="_blank" rel="tooltip" title="Follow me on Github">
                    <i class="fa-brands fa-github"></i>
                </a>
        </div>
    </div>
</div>